body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Minecraft, Verdana, Arial;
         
}
@font-face {
    font-family: Minecraft;
    src: url(../media/Minecrafter.ttf) format("truetype"); /* Safari, Android, iOS */
    }
#world-type {
    display: flex;
    justify-content: space-evenly;
    top: 75%;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    width: 100%;
    height: 93%;
}
.button {
    padding: 10px;
    border-radius: 8%;
    color: black;
    width: 15%;
    height: 7%;
    font-family: Minecraft, Verdana, Arial;
    font-size: 2vw;
    background-color: cornflowerblue
}
#tutorial-button {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgb(153, 242, 64);
}
#instructions-modal {
    background-color: rgba(143, 188, 143, 1);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    border-radius: 5%;
    width: 80%;
    height: 80%;
    z-index: 3;
    font-size: 2vw;
    overflow: scroll;
    display: none;
}
p {
    text-align: center;
    vertical-align: middle;
    color: black;
}
#close-button {
    position: absolute;
    right: 3%;
    top: 3%;
    font-size: 2vw;
    cursor: pointer;
}
#start-screen {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-image: url(../media/start.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    z-index: 2;
}

#menu {
    position: fixed;
    right: 0;
    width: 15vw;
    height: 100vh;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tool-button {
    border: 3px solid white;
    background-color: Transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 10%;
    width: 50%;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}
.tool-button:hover {
    background-color: blue;
}
#pickaxe {
    background-image: url(../media/pickaxe.png);	
}
#shovel {
    background-image: url(../media/shovel.png);
}
#axe {
    background-image: url(../media/axe.png);
}
#bucket {
    background-image: url(../media/bucket.png);
}
#pump {
    background-image: url(../media/pump.png);
}
#inventory {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid white;
    height: 20%;
    width: 70%;
}
.inventory-item {
    background-color: Transparent;
    border: 1.2px solid white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size : 1.2vw;overflow: hidden;
}
.empty {
    opacity: 0.15;
    pointer-events: none;
}
.inventory-item:hover {
    border-color: blue;
}
.inventory-item.active {
    border-color: blue;
}
.inventory-item.ilegal {
    border-color: red;
}
.tool-button.active {
    background-color: blue;
}
.tool-button.ilegal {
    background-color: red;
}
#world {
    display: inline-grid;
    background-color: lightblue;
    height: 100vh;
    background-size: cover;
    background-position: center center;
    background-repeat: repeat-x;
    background-repeat: repeat-y;
    
}
.pixel {
    background-position: center center;
    background-size: cover;
}
.pixel:hover {
    opacity: 0.7;
}