body {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    font-family: Minecraft, Verdana, Arial;
         
}
@font-face {
    font-family: Minecraft;
    src: url(../media/Minecrafter.ttf) format("truetype"); /* Safari, Android, iOS */
    }
#menu {
    float: right;
    width: 15vw;
    height: 100vh;
    background-color: dimgrey;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.tool-button {
    border: 3px solid white;
    background-color: Transparent;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    height: 10%;
    width: 50%;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}
.tool-button:hover {
    background-color: blue;
}
#pickaxe {
    background-image: url(../media/pickaxe.png);	
}
#shovel {
    background-image: url(../media/shovel.png);
}
#axe {
    background-image: url(../media/axe.png);
}
#inventory {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(3, 1fr);
    border: 1px solid white;
    height: 20%;
    width: 70%;
}
.inventory-item {
    background-color: Transparent;
    border: 1.2px solid white;
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: white;
    font-size : 1.2vw;overflow: hidden;
}
.empty {
    opacity: 0.15;
    pointer-events: none;
}
.inventory-item:hover {
    border-color: blue;
}
.inventory-item.active {
    border-color: blue;
}
.tool-button.active {
    background-color: blue;
}
#world {
    display: inline-grid;
    background-color: lightblue;
    height: 100vh;
    width: 85vw;
    background-image: url(../media/BG.png);
    background-size: cover;
    background-position: center center;
}
.pixel {
    background-position: center center;
    background-size: cover;
}
.pixel:hover {
    opacity: 0.7;
}
.wood {
    background-image: url(../media/wood.png);
}
.waves {
    background-image: url(../media/waves.png);	
}
.water {
    background-image: url(../media/water.png);	
}
.stone {
    background-image: url(../media/stone.png);
}
.leaves {
    background-image: url(../media/leaves.png);	
}
.grass {
    background-image: url(../media/grass.png);	
}
.earth {
    background-image: url(../media/earth.png);	
}
.cloud {
    background-image: url(../media/cloud.png);
}